# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'

- task: AzureRmWebAppDeployment@4
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'Azure per studenti(b0e160a4-e99f-42eb-85f8-f55409ad025b)'
    appType: 'webApp'
    WebAppName: 'IUPUsesservice'
    packageForLinux: '$(System.DefaultWorkingDirectory)/**/*.zip'
    ScriptType: 'Inline Script'
    InlineScript: ':: You can provide your deployment commands here. One command per line.'